.snackbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: unset;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;

    @media only screen and (max-width: 600px) {
        top: unset;
        bottom: 0;
    }
}


.voting-card {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    background-color: #ECECEE;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.voting-card.voted {
    background-color: #419EFE;
    color: white;
}

.voting-card.revealed {
    background-color: white;
    border: 2px solid #419EFE;
    color: #419EFE;
}
